/*
* demo.css
* File include item demo only specific css only
******************************************************************************/
.menu .app-brand.sia {
  height: 64px;
  margin-top: 12px;
}

.menu-item {
  position: relative;
}

.app-brand-logo {
  font-size: 1.75rem;
  letter-spacing: -0.5px;
  text-transform: lowercase;
}
.app-brand-logo .sia svg {
  width: 22px;
  height: 38px;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
/* Detached navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 76px !important;
}
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/
.sia-blocks > * {
  display: block !important;
}

.sia-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .sia-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .sia-only-element class with .sia-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.sia-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}

.sia-vertical-spacing.sia-only-element > :first-child {
  margin-top: 0 !important;
}

.sia-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}

.sia-vertical-spacing-lg.sia-only-element > :first-child {
  margin-top: 0 !important;
}

.sia-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}

.sia-vertical-spacing-xl.sia-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir=rtl] .rtl-only {
  display: block !important;
}

/*
* Layout demo
******************************************************************************/
.layout-demo-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.layout-demo-placeholder img {
  width: 900px;
}

.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}

/**
* Breadcrumb
*/
h4.breadcrumb {
  display: flex;
  align-items: center;
  gap: 1rem;
}
h4.breadcrumb span:not(.active) {
  color: #a1acb8 !important;
  font-weight: 300 !important;
}
h4.breadcrumb span:not(:last-child) {
  position: relative;
}
h4.breadcrumb span:not(:last-child)::after {
  position: absolute;
  right: -0.75rem;
  top: 0;
  content: "/";
}
h4.breadcrumb span.active {
  font-weight: 700 !important;
}

/**
* Flatpickr
*/
.flatpickr[readonly] {
  background-color: #fff !important;
}

/**
* Choices
*/
.choices {
  margin-bottom: unset !important;
}
.choices.is-disabled .choices__inner {
  background-color: #eceef1 !important;
}
.choices .choices__inner {
  border-radius: 0.375rem;
  background-color: #fff !important;
  border-color: #d9dee3;
  padding: unset !important;
  min-height: 38px !important;
}
.choices .choices__inner .choices__list {
  padding: 0.5rem 0.875rem !important;
}
.choices .choices__list {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
}
.choices .choices__list.is-active {
  border-color: #696cff !important;
}
.choices .choices__list [role=listbox] {
  max-height: 225px !important;
}
.choices .choices__list .choices__group .choices__heading {
  background-color: rgba(105, 108, 255, 0.1);
}
.choices.is-open .choices__inner {
  border-color: #696cff;
  border-top-left-radius: 0.375rem !important;
  border-top-right-radius: 0.375rem !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.choices.is-open.is-flipped {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
}
.choices.is-open.is-flipped .choices__list {
  border-top-left-radius: 0.375rem !important;
  border-top-right-radius: 0.375rem !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/**
* Sweetalert2
*/
.swal2-container {
  z-index: 1090 !important;
}

/**
* Datatable
*/
.datatable.card-body {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media (min-width: 1200px) {
  .datatable .dataTables_wrapper .dataTables_length, .datatable .dataTables_wrapper .dataTables_info {
    padding-left: 1.5rem;
  }
  .datatable .dataTables_wrapper .dataTables_filter, .datatable .dataTables_wrapper .dataTables_paginate {
    padding-right: 1.5rem;
  }
}
.datatable .dataTables_wrapper .dataTables_length select {
  border-radius: 0.375rem;
  padding: 0.4375rem 1.875rem 0.4375rem 0.875rem;
  border: 1px solid #d9dee3;
}
.datatable .dataTables_wrapper .dataTables_filter input[type=search] {
  position: relative;
  display: inline-block;
  margin-left: 0.5em;
  width: auto;
  border: 1px solid #d9dee3;
  border-radius: 0.375rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.53;
  padding: 0.4375rem 0.875rem;
}
.datatable .dataTables_wrapper .table {
  margin: 0 !important;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.datatable .dataTables_wrapper .table .sorting::before, .datatable .dataTables_wrapper .table .sorting::after {
  font-size: 1rem;
  opacity: 0.4;
}
.datatable .dataTables_wrapper .table .sorting.sorting_asc::before {
  opacity: 0.75 !important;
}
.datatable .dataTables_wrapper .table .sorting.sorting_desc::after {
  opacity: 0.75 !important;
}
.datatable .dataTables_wrapper .dataTables_info {
  color: #a1acb8;
}
.datatable .dataTables_wrapper .dataTables_paginate .paginate_button {
  font-size: 0.75rem;
  line-height: 1;
  min-width: 2rem;
  padding: 0.625rem 0.5125rem;
  background-color: #f0f2f4;
  border-radius: 0.25rem;
  color: #697a8d;
  border: 0px solid transparent;
  transition: all 0.3s ease-in-out;
}
.datatable .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #e1e4e8 !important;
  color: #697a8d !important;
  border: 0px solid transparent !important;
}
.datatable .dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #696cff !important;
  color: #fff !important;
  border: 0px solid transparent !important;
}
.datatable .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border: 0px solid transparent !important;
}

.nst-list .nst-item {
  margin-bottom: 0.5rem;
}
.nst-list .nst-item .nst-list .nst-item {
  margin-top: 0.5rem;
}
.nst-list .nst-item .nst-handle {
  position: absolute;
  line-height: 1;
  padding: 0.9rem 0.5rem;
  top: 0;
  left: 0;
}
.nst-list .nst-item .nst-content {
  display: block;
  text-overflow: ellipsis;
  line-height: 1;
  border: unset;
  padding: 1rem 2rem;
  margin: 0 !important;
}
.nst-list .nst-item .nst-button {
  width: unset;
  height: unset;
  top: 0;
  line-height: 1;
  right: 0;
  left: unset;
  padding: 0.9rem 1rem;
}
.nst-list .nst-item .nst-placeholder {
  margin-top: 0.5rem;
}

/**
* Modal
*/
.modal.modal-right .btn-close {
  box-shadow: none;
  transform: translate(0, 0) !important;
}
.modal.modal-right .btn-close:hover {
  transform: translate(0, 0) !important;
}
.modal.modal-right .modal-dialog {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 100vh;
  padding: 0;
}
.modal.modal-right .modal-content {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 100%;
}
.modal.modal-right.fade .modal-dialog {
  transform: translateX(100px) !important;
}
.modal.modal-right.fade.show .modal-dialog {
  transform: translateX(0) !important;
}
