/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.menu {
	.app-brand.sia {
		height: 64px;
		margin-top: 12px;
	}
}
.menu-item {
	position: relative;
}
  
.app-brand-logo {
	font-size: 1.75rem;
	letter-spacing: -0.5px;
	text-transform: lowercase;

	.sia {
		svg {
			width: 22px;
			height: 38px;
		}
	}
}
  
/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
/* Detached navbar */
.layout-navbar-fixed {
	.layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) {
		.layout-page {
			padding-top: 76px !important;
		}
	}
	.layout-wrapper:not(.layout-without-menu) .layout-page {
		padding-top: 64px !important;
	}
}

/* Navbar page z-index issue solution */
.content-wrapper {
	.navbar {
		z-index: auto;
	}
}
  
/*
* Content
******************************************************************************/
.sia-blocks > * {
	display: block !important;
}
.sia-inline-spacing > * {
	margin: 1rem 0.375rem 0 0 !important;
}
  
/* ? .sia-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .sia-only-element class with .sia-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.sia-vertical-spacing > * {
	margin-top: 1rem !important;
	margin-bottom: 0 !important;
}
.sia-vertical-spacing.sia-only-element > :first-child {
	margin-top: 0 !important;
}
.sia-vertical-spacing-lg > * {
    margin-top: 1.875rem !important;
    margin-bottom: 0 !important;
}
.sia-vertical-spacing-lg.sia-only-element > :first-child {
    margin-top: 0 !important;
}
.sia-vertical-spacing-xl > * {
    margin-top: 5rem !important;
    margin-bottom: 0 !important;
}
.sia-vertical-spacing-xl.sia-only-element > :first-child {
    margin-top: 0 !important;
}
.rtl-only {
    display: none !important;
    text-align: left !important;
    direction: ltr !important;
}
[dir='rtl'] .rtl-only {
    display: block !important;
}
  
/*
* Layout demo
******************************************************************************/
.layout-demo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 1rem;
}
.layout-demo-placeholder img {
    width: 900px;
}
.layout-demo-info {
    text-align: center;
    margin-top: 1rem;
}

/**
* Breadcrumb
*/
h4 {
	&.breadcrumb {
		display: flex;
		align-items: center;
		gap: 1rem;

		span {
			&:not(.active){
				color: #a1acb8 !important;
				font-weight: 300 !important;
			}
			&:not(:last-child){
				position: relative;

				&::after {
					position: absolute;
					right: -.75rem;
					top: 0;
					content: "/";
				}
			}
			&.active {
				font-weight: 700 !important;
			}
		}
	}
}

/**
* Flatpickr
*/
.flatpickr {
	&[readonly] {
		background-color: #fff !important;
	}
}

/**
* Choices
*/
.choices {
	margin-bottom: unset !important;

	&.is-disabled {
		.choices__inner {
			background-color: #eceef1 !important;
		}
	}
	.choices__inner {
		border-radius: 0.375rem;
		background-color: #fff !important;
		border-color: #d9dee3;
		padding: unset !important;
		min-height: 38px !important;

		.choices__list {
			padding: .5rem 0.875rem !important;
		}
	}
	.choices__list {
		&.is-active {
			border-color: #696cff !important;
		}

		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
		border-bottom-left-radius: .375rem !important;
		border-bottom-right-radius: .375rem !important;

		[role="listbox"]{
			max-height: 225px !important;
		}

		.choices__group  {
			.choices__heading {
				background-color: rgba(105, 108, 255, .1);
			}
		}
	}

	&.is-open {
		.choices__inner {
			border-color: #696cff;
			border-top-left-radius: .375rem !important;
			border-top-right-radius: .375rem !important;
			border-bottom-left-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
		}

		&.is-flipped {
			border-top-left-radius: 0 !important;
			border-top-right-radius: 0 !important;
			border-bottom-left-radius: .375rem !important;
			border-bottom-right-radius: .375rem !important;

			.choices__list {
				border-top-left-radius: .375rem !important;
				border-top-right-radius: .375rem !important;
				border-bottom-left-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}
		}
	}
}

/**
* Sweetalert2
*/
.swal2-container {
	z-index: 1090 !important;
}

/**
* Datatable
*/
.datatable {
	&.card-body {
		padding-left: 0 !important;;
		padding-right: 0 !important;;
	}

	.dataTables_wrapper {
		@media (min-width: 1200px) {
			.dataTables_length, .dataTables_info {
				padding-left: 1.5rem;
			}
			.dataTables_filter, .dataTables_paginate {
				padding-right: 1.5rem;
			}
		}
		.dataTables_length {
			select {
				border-radius: .375rem;
				padding: .4375rem 1.875rem .4375rem .875rem;
				border: 1px solid #d9dee3;
			}
		}
		.dataTables_filter {
			input[type="search"] {
				position: relative;
				display: inline-block;
				margin-left: .5em;
				width: auto;
				border: 1px solid #d9dee3;
				border-radius: .375rem;
				font-size: .9375rem;
				font-weight: 400;
				line-height: 1.53;
				padding: .4375rem .875rem;
			}
		}
		.table {
			margin: 0 !important;
			border-left: 1px solid transparent;
			border-right: 1px solid transparent;

			.sorting {
				&::before, &::after {
					font-size: 1rem;
					opacity: .4;
				}
				&.sorting_asc {
					&::before {
						opacity: .75 !important;
					}
				}
				&.sorting_desc {
					&::after {
						opacity: .75 !important;
					}
				}
			}
		}
		.dataTables_info {
			color: #a1acb8;
		}
		.dataTables_paginate {
			// .pagination {
			// 	justify-content: flex-end;
			// 	margin: 2px 0;
			// 	white-space: nowrap;
			// 	.page-item {
			// 		&.previous {

			// 		}
			// 		&.disabled {
			// 			.page-link {
			// 				background-color: rgba(124,125,182,.08);
			// 			}
			// 		}
			// 		&.next {

			// 		}
			// 		&.active {
			// 			background-color: #696cff;
			// 			border-color: #696cff;
			// 			box-shadow: 0 0.125rem 0.25rem rgb(105 108 255 / 40%);
			// 			color: #fff;
			// 		}

			// 		.page-link {
			// 			font-size: .75rem;
			// 			line-height: 1;
			// 			min-width: 2rem;
			// 			padding: .625rem .5125rem;
			// 		}
			// 	}
			// }
			.paginate_button {
				font-size: .75rem;
				line-height: 1;
				min-width: 2rem;
				padding: .625rem .5125rem;
				background-color: #f0f2f4;
				border-radius: 0.25rem;
				color: #697a8d;
				border: 0px solid transparent;
				transition: all .3s ease-in-out;

				&:hover {
					background: #e1e4e8 !important;
					color: #697a8d !important;
					border: 0px solid transparent !important;
				}
				&.current {
					background: #696cff !important;
					color: #fff !important;
					border: 0px solid transparent !important;

					&:hover {
						border: 0px solid transparent !important;
					}
				}
			}
		}
	}
}

// Nestable
.nst-list {
    .nst-item {
        // border-bottom: 1px solid #e5e7eb;
		margin-bottom: .5rem;

        .nst-list {
            .nst-item {
                // border-top: 1px solid #e5e7eb;
                // border-bottom: unset !important;
				margin-top: .5rem;
            }
        }

        .nst-handle {
            position: absolute;
            line-height: 1;
            padding: .9rem 0.5rem;
            top: 0;
            left: 0;
        }
        .nst-content {
            display: block;
            text-overflow: ellipsis;
            line-height: 1;
            border: unset;
            padding: 1rem 2rem;
            margin: 0 !important;
        }
        .nst-button {
            width: unset;
            height: unset;
            top: 0;
            line-height: 1;
            right: 0;
            left: unset;
            padding: .9rem 1rem;
        }
        .nst-placeholder {
            // margin-bottom: unset !important;
			margin-top: .5rem;
        }
    }
}

/**
* Modal
*/
.modal {
	&.modal-right {
		.btn-close {
			box-shadow: none;
			transform: translate(0, 0) !important;

			&:hover {
				transform: translate(0, 0) !important;
			}
		}
		.modal-dialog {
			margin-right: 0;
			margin-top: 0;
			margin-bottom: 0;
			height: 100vh;
			padding: 0;
		}
		.modal-content {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			height: 100%;
		}

		&.fade {
			.modal-dialog {
				transform: translateX(100px) !important;
			}

			&.show {
				.modal-dialog {
					transform: translateX(0) !important;
				}
			}
		}
		
	}
}