/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.menu {
	.app-brand.sia {
		height: 64px;
		margin-top: 12px;
	}
}
.menu-item {
	position: relative;
}
  
.app-brand-logo {
	font-size: 1.75rem;
	letter-spacing: -0.5px;
	text-transform: lowercase;

	.sia {
		svg {
			width: 22px;
			height: 38px;
		}
	}
}
  
/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
/* Detached navbar */
.layout-navbar-fixed {
	.layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) {
		.layout-page {
			padding-top: 76px !important;
		}
	}
	.layout-wrapper:not(.layout-without-menu) .layout-page {
		padding-top: 64px !important;
	}
}

/* Navbar page z-index issue solution */
.content-wrapper {
	.navbar {
		z-index: auto;
	}
}
  
/*
* Content
******************************************************************************/
.sia-blocks > * {
	display: block !important;
}
.sia-inline-spacing > * {
	margin: 1rem 0.375rem 0 0 !important;
}
  
/* ? .sia-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .sia-only-element class with .sia-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.sia-vertical-spacing > * {
	margin-top: 1rem !important;
	margin-bottom: 0 !important;
}
.sia-vertical-spacing.sia-only-element > :first-child {
	margin-top: 0 !important;
}
.sia-vertical-spacing-lg > * {
    margin-top: 1.875rem !important;
    margin-bottom: 0 !important;
}
.sia-vertical-spacing-lg.sia-only-element > :first-child {
    margin-top: 0 !important;
}
.sia-vertical-spacing-xl > * {
    margin-top: 5rem !important;
    margin-bottom: 0 !important;
}
.sia-vertical-spacing-xl.sia-only-element > :first-child {
    margin-top: 0 !important;
}
.rtl-only {
    display: none !important;
    text-align: left !important;
    direction: ltr !important;
}
[dir='rtl'] .rtl-only {
    display: block !important;
}
  
/*
* Layout demo
******************************************************************************/
.layout-demo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 1rem;
}
.layout-demo-placeholder img {
    width: 900px;
}
.layout-demo-info {
    text-align: center;
    margin-top: 1rem;
}

/**
* breadcrumb
*/
h4 {
	&.breadcrumb {
		display: flex;
		align-items: center;
		gap: 1rem;

		span {
			&:not(.active){
				color: #a1acb8 !important;
				font-weight: 300 !important;
			}
			&:not(:last-child){
				position: relative;

				&::after {
					position: absolute;
					right: -.75rem;
					top: 0;
					content: "/";
				}
			}
			&.active {
				font-weight: 700 !important;
			}
		}
	}
}

/**
* Flatpickr
*/
.flatpickr {
	&[readonly] {
		background-color: #fff !important;
	}
}

/**
* Choices
*/
.choices {
	.choices__inner {
		border-radius: 0.375rem;
		background-color: #fff !important;
		border-color: #d9dee3;
		padding: unset !important;
		min-height: 38px !important;

		.choices__list {
			padding: .5rem 0.875rem !important;
		}
	}
	.choices__list {
		&.is-active {
			border-color: #696cff !important;
		}

		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
		border-bottom-left-radius: .375rem !important;
		border-bottom-right-radius: .375rem !important;

		[role="listbox"]{
			max-height: 225px !important;
		}

		.choices__group  {
			.choices__heading {
				background-color: rgba(105, 108, 255, .1);
			}
		}
	}

	&.is-open {
		.choices__inner {
			border-color: #696cff;
			border-top-left-radius: .375rem !important;
			border-top-right-radius: .375rem !important;
			border-bottom-left-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
		}

		&.is-flipped {
			border-top-left-radius: 0 !important;
			border-top-right-radius: 0 !important;
			border-bottom-left-radius: .375rem !important;
			border-bottom-right-radius: .375rem !important;

			.choices__list {
				border-top-left-radius: .375rem !important;
				border-top-right-radius: .375rem !important;
				border-bottom-left-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}
		}
	}
}